@media screen and (max-width: 1236px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        width: 100%;
    }
    .wrapper-title {
        max-width: 100%;
    }
    .fouder {
        display: none;
    }
    .fouder-button {
        max-width: 900px;
    }
}

@media screen and (max-width: 1200px) {
    .foto-crm {
        display: none;
    }
}

@media screen and (max-width: 681px) {
    .form-bottom {
        flex-direction: column;
    }
    &__line {
        margin-bottom: 10px;
    }
}