@media screen and (max-width: 1319px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .wrapper-title {
    max-width: 100%;
  }
  .fouder {
    display: none;
  }
  .hero .fouder-wrapper .fouder-button button {
    font-size: 16px;
    padding: 16px 41px;
  }
  .form-questions {
    background-image: none;
  }
}
@media screen and (max-width: 1250px) {
  .form-bottom {
    display: flex;
    flex-direction: column;
  }
  .form-bottom .form-left__calculator h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .foto-crm {
    display: none;
  }
  .big-wrapper .benefit {
    display: flex;
    flex-direction: column;
  }
  .big-wrapper .benefit__button button {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1045px) {
  .work-stages h2 {
    font-size: 20px;
  }
  .work-stages__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .work-stages__wrapper .description__title {
    font-size: 16px;
  }
  .work-stages__wrapper .description__paragraph {
    font-size: 12px;
  }
  .work-stages__wrapper .description .wrapper-numbers span {
    padding: 5px;
  }
  .big-wrapper .benefit .left__side .benefit__header h2 {
    font-size: 20px;
    text-align: center;
  }
  .big-wrapper .benefit .left__side .benefit__text {
    width: 100%;
  }
  .big-wrapper .benefit .left__side .benefit__button {
    display: flex;
    justify-content: center;
  }
  .big-wrapper .benefit .right__side {
    width: 100%;
  }
  .big-wrapper .benefit__button {
    margin: auto 0;
  }
  .big-wrapper .benefit__button button {
    padding: 15px 60px;
  }
  .big-wrapper .benefit .big__text .number {
    font-size: 64px;
  }
  .review h2 {
    font-size: 20px;
  }
  .review .review-inner {
    position: relative;
  }
  .review .review-inner .swiper-wrapper {
    position: relative;
  }
  .review img {
    position: absolute;
    top: 0;
  }
  .review .review-inner .swiper-wrapper .swiper-slider .company .text .text__contakts {
    padding-left: 60px;
  }
  .review .review-inner .swiper-wrapper .swiper-slider .company .text img {
    padding-top: 20px;
  }
  .review .review-inner .swiper-wrapper .swiper-slider .company .basic-text {
    padding-top: 20px;
  }
  .review .review-inner .swiper-wrapper .swiper-slider .company .basic-text img {
    display: none;
  }
}
@media screen and (max-width: 1105px) {
  .big-wrapper .other-information .services-all .reference img {
    display: none;
  }
}
@media screen and (max-width: 1005px) {
  .blog .blog__button {
    display: flex;
    flex-direction: column;
  }
  .blog .button-block {
    gap: 5px;
  }
  .blog .button-block button {
    padding: 8px 20px;
  }
  .blog .button-block_gradient {
    margin: 0 auto;
  }
  .blog .button-block_gradient button {
    padding: 8px 30px;
    font-size: 16px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 850px) {
  .services .big-wrapper {
    display: flex;
    flex-direction: column;
  }
  .services .big-wrapper .basic-information .specification__title {
    font-size: 20px;
  }
  .services .big-wrapper .basic-information .specification div {
    display: flex;
    justify-content: center;
  }
  .services .big-wrapper .basic-information .logo-text p {
    font-size: 18px;
    padding: 4px 18px;
  }
  .services .big-wrapper .basic-information .logo-text__icons {
    padding: 5px;
  }
  .license h2 {
    font-size: 20px;
  }
  .license .card__wrapper {
    display: flex;
    flex-direction: column;
  }
  .blog .card-wrapper {
    display: flex;
    flex-direction: column;
  }
  .blog .card-wrapper__header h2 {
    font-size: 20px;
  }
  .case .blog__header h2 {
    font-size: 20px;
  }
  .case__description {
    font-size: 18px;
  }
  .case .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .faq__header {
    font-size: 20px;
  }
}
@media screen and (max-width: 785px) {
  .big-wrapper .other-information .services-all .reference__title {
    width: 100%;
    font-size: 28px;
  }
  .container-map .map .map-inner {
    display: none;
  }
}
@media screen and (max-width: 681px) {
  .form-crm .small-container .wrapper-lesson {
    width: 100%;
    padding: 30px;
  }
  .form-crm .small-container .wrapper-lesson__title {
    font-size: 20px;
  }
  .form-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .form-button__line {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 650px) {
  .small-container .wrapper-lesson {
    width: 100%;
    padding: 15px 25px;
  }
  .small-container .wrapper-lesson__title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 40px;
  }
  .small-container .wrapper-lesson__description {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .big-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 605px) {
  .basic-information .specification .specification__title {
    font-size: 16px;
  }
  .basic-information .specification .specification__paragraph {
    font-size: 12px;
  }
  .services .big-wrapper .specification button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 585px) {
  .basic-information .specification__title {
    font-size: 20px;
  }
  .basic-information .logo-text p {
    font-size: 16px;
    padding: 4px 16px;
  }
  .basic-information .logo-text__icons {
    padding: 6px;
  }
}
@media screen and (max-width: 400px) {
  .small-container .wrapper-lesson .icons-crm {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=media.css.map */